*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: rgb(43, 13, 82);
}
body :first-child{
    margin: 10px;
}
span{
    width: 30px;
    height: 30px;
    background-color: #fff;
    display: block;
    border-radius: 50%;
    right: 0;
    float: right;
    padding: 20px;
    background-color: rgb(106, 158, 115);
    cursor: pointer;
}
i{
    font-size: 30px;
    color: brown;
    display: block;
}
h1{
    font-size: 3rem;
    color: rgb(255, 255, 255);
    text-align: center; 
    cursor: pointer;
    padding: 5px;
    border-bottom: solid 5px white;
    animation: colorC 5s linear infinite;

}
h2{
    color: aliceblue;
    margin-left: 20px;
    font-size: 30px;
   padding: 10px;
   animation: color 3s infinite ;
}
.container {
    display: flex;
    width: 70%;
    margin: 0 auto;

}

.imgs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.imgs img{
    max-width: 150px;
    margin: 5px;
}

footer {

    left: 0;
    display: flex;
    height: 50px;
    bottom: 0px;
    width: 100%;
    font-size: 1.7rem;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    background-color: rgb(200, 216, 232);
    margin: 10px;


}

@media (min-width: 600px) {
    .container {
        flex-direction: row;
        justify-content: space-around;
    }

    .img img {
        max-width: 150px;
    }
}

@keyframes colorC{
    0%{
        color: red;
    }
    25%{
        color: palegoldenrod;
    }
    50%{
        color: greenyellow;
    }
    75%{
        color: rgb(255, 157, 0);
    }
    100%{
        color: red;
    }
}
@keyframes color {
    0% {
        text-shadow: 2px 1px 5px rgba(255, 255, 255, 0.5),1px 2px 5px rgba(255, 255, 255, 0.5);
    }
    100% {
        text-shadow: 130px 1px 2px rgba(255, 255, 255, 1),1px 2px 5px rgba(255, 255, 255, 1);
    }
}
